<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>343197243122-fadsp3pn62pp916robequ9nid1gtfm4j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343197243122-fadsp3pn62pp916robequ9nid1gtfm4j</string>
	<key>API_KEY</key>
	<string>AIzaSyCUgl59abvs2V96gPQmRHgj8meZoMWhOyI</string>
	<key>GCM_SENDER_ID</key>
	<string>343197243122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sadunenko.Zabor</string>
	<key>PROJECT_ID</key>
	<string>zabor-8c50a</string>
	<key>STORAGE_BUCKET</key>
	<string>zabor-8c50a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343197243122:ios:7a20eb6cafe642bc5e626b</string>
	<key>DATABASE_URL</key>
	<string>https://zabor-8c50a.firebaseio.com</string>
</dict>
</plist>